@{
    ViewBag.Title = "Elastic Search";
}


<div class="container">
    <div class="center-block" style="text-align:center;">
        @Html.ActionLink("Insert Data", "InserDataInFile", "Home", new { @class = "btn btn-primary btn-lg" })
    </div>
    </br>
    <div class="center-block" style="text-align:center;">
        @Html.ActionLink("Create Index", "CreateIndex", "Home", new { @class = "btn btn-primary btn-lg" })
    </div>
</div>